//Colors
// ### Primary

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
// ### Neutral
// (paragraphs)
$transparent-white: hsla(0, 0%, 100%, 0.75);
// (background, headings, buttons)
$very-light-gray: hsl(0, 0%, 95%);

//TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
$body-font: "Lexend Deca", sans-serif;
$heading-font: "Big Shoulders Display", cursive;
